body {
    line-height: 1.6;
    text-align: left;
    line-height: 1.5;
    margin:0px auto;
    padding:0;
    font-family: Helvetica, sans-serif;
}
#chart-container {
    height: 400px;
    margin: 0 auto;
    width: 100%;
}

.nav {
    margin-top: 10px;
}
.dataTables_length {
    display: none;
}
.clearfix{
    clear: both;
}

td.highlight {
    font-weight: bold;
    color:  #c66402;
}
.bar {
  display: inline-block;
  vertical-align: bottom;
  width: 35px;
   height: 13px;
    float: left;
    margin: 0 4px 0 0;
    background: rgb(116, 43, 49);
  background-color: #186357;
  margin: 0 12px;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: #fff; 
}

.bar::before {
    content: attr(data-num);
    position: absolute;
    bottom: 9px;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    transition: bottom 0.5s;
    color: #fff;
}
 #table-wrap {
    margin-top: 15px;
    min-width: 700px;
    width: 100%
}
 #table-wrap table td.region {
    color: #333;
    width: 30%;
    padding-right: 1%;
    text-align: right;
}
 #table-wrap table td.data {
    width: 35%;
    color: #333;
    padding: 5px 0;
}
 #table-wrap table td.data .population-bar {
    height: 28px;
    margin-right: 10px;
    line-height: 1.5em;
    background: #d2d2d2;
    display: inline-block;
    vertical-align: middle;
    opacity: .85;
    -moz-animation: jquery 2s ease-out;
    -webkit-animation: jquery 2s ease-out;
}
#table-source {
    font-size: .7em;
    color: #999;
    margin-top: 15px;
}
#table-subhead {
    font-size: .9em;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 20px;
}
#chart-source {
    font-size: .7em;
    color: #999;
    margin-top: 20px;
}
 #table-wrap table tr {
    /*border-bottom:1px solid #f0f0f0;*/
    cursor: default;
}
 #table-wrap table tr:last-of-type {
    border-bottom: none;
}

/*Clustered bars*/

#clustered-bars .bar {
    height: 20px;
    background: none;
    width: 85%;
    float: left;
    margin: 0 10px;
}
#clustered-bars .row {
    width: 100%;
    margin-right: 4%;
    display: inline-block;
    letter-spacing: 0.02em;
}

#clustered-bars .bottom-bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #ccc;
}

#clustered-bars .top-bar {
    position: absolute;
    left: 0;
    height: 100%;
    opacity: 1;
    background-color: #707070;
}
#clustered-bars .row-label {
    float: left;
    width: 15%;
}
#clustered-bars .bar-holder {
    display: inline-block;
    width: 42%;
}
#clustered-bars h3 {
  margin-bottom: 40px;
}
#clustered-bars span.label {
  z-index: 90;
  position: relative;
  float: right;
}
#clustered-bars .chart-subhead{
display: inline-table;
width: 48%;
margin: 10px 0;
text-align: center;
font-weight: 400;
}

#clustered-bars .bar-section .bar {
    width: 35px;
    background-color: #707070;
}